<div class="container">
  <div class="form">
    <h1>Search for a movie</h1>
    <input type="text"
    id="search"
    (keyup)="onKeyUp($event, '')"
    (keydown)="onKeyDown($event)"
    (keypress)="onKeyPress($event)"
    placeholder="movie title"/>

    <button (click)="searchMovie()">Search</button>
  </div><!-- .form -->

  <div id="results">
    <ng-container *ngIf="movies">

      <mat-card class="movie example-card" *ngFor="let movie of movies">
        <img
            mat-card-image src={{movie.Poster}}
            alt={{movie.Title}}
        />
        <mat-card-title class="title">{{ movie.Title }}</mat-card-title>
        <button [routerLink]="['/detail', movie.imdbID]" mat-button> Learn More</button>
      </mat-card><!-- .movie -->

    </ng-container>

  </div><!-- .redults -->
</div><!-- .container -->
