<mat-card  class="container" *ngIf="movie_detail">
  <div class="title">
    <mat-card-title>{{ movie_detail.Title }}</mat-card-title>
    <p>({{ movie_detail.Year }})</p>
  </div><!-- .title -->

  <img
    mat-card-image src={{movie_detail.Poster}}
    alt={{movie_detail.Title}}
  />

  <mat-card-content>
    <p>Genre: {{ movie_detail.Genre }}</p>
    <p>Actors: {{ movie_detail.Actors }}</p>
    <p>{{ movie_detail.Plot }}</p>
  </mat-card-content>

  <button routerLink="/" mat-button>Go Back</button>

</mat-card>
