.container {
  margin: 0 auto;
  margin-top: 50px;
  width: 600px;
  padding: 20px 40px;
}

.title {
  display: flex;
  align-items: center;
}

button {
  background-color: skyblue;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 2px;
}
